{% extends "inc/base.html" %}


{% block content %}
    <div class="mt-5">
        <h2 class="py-3 mb-3 border-bottom">Registration</h2>

        <p class="text-danger">Sorry, this email address already registered!</p>
        <form class="col-sm-6">
            <div class="mb-3">
                <label for="inputLogin" class="form-label">Login</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="User">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="user@mail.ru">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
                <label for="inputNickName" class="col-sm-2 col-form-label">Upload Avatar</label>
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock content %}